@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0,auto;
}

.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1900px;
    height:900px;
}

.container{
    width: 1200px;
    height: 600px;
    background-color: #dfeaf352;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    display: flex;

}

.left{
    width: 600px;
    height: 560px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
     h1{
        text-align: center;
        font-size:30pxpx;
        color: rgb(14, 168, 130);
     }
    p{
        font-size: 15px;
        text-align: center;
    }

    img{
        width: 300px;
    }
}

.right{
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    h1{
        text-align: center;
        font-size: 2rem;
        color: rgb(14, 168, 130);
    }
}
.icons{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 28px;
}
.icons i:hover{
    cursor: pointer;
    color:rgb(14, 168, 130);
}
form{
    line-height: 2;
    width: 400px;
    height: 500px;
    padding: 20px;
}
.head{
    text-align: center;
    line-height: 1;
    font-size: 15px;
}
label{
    font-size:15px;
}

input{
    margin-bottom: 5px;
    padding: 5px;
    width: 400px;
    border-radius: 20px;
    border-style: none;
    font-size: 12px;
    height: 25px;
    
}
input:focus{
 outline-color: rgb(14, 168, 130);
}
button{
    background-color: rgb(14, 168, 130);
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    transition: transform .5s;
}

button:hover{
    cursor: pointer;
    transform: scale(.9);
}
.loginTo{
    position: relative;
    bottom: 10px;
}
.loginTo a{
    text-decoration: none;
    font-weight: 600;
    color:  rgb(14, 168, 130);
}

/* laptop */
@media (max-width:1400px) {
    
    .wrapper{
        width: 1300px;
        height: 730px;
     
    }

    .container{
        border-style: none;
    }
}

/* small tablet */
@media (max-width:600px){

   
    .wrapper{
        width: 600px;
        height: 500px;

    }

    .container{
    
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        padding: 10px;
        border-style: none;
    }

    .right{
       
        position: relative;
        top: 150px;

        input{
            background-color: rgba(128, 128, 128, 0.103);
        }
    }

    .loginTo{
        position: relative;
        bottom: 150px;
    }
}

@media( min-width:600px) and (max-width:1000px){
    .wrapper{
        width: 600px;
        display: block;
    }
    .container{
        width: 100%;
    }
    .left{
        display: none;
    }
}